.jumbotron {
    background-color: #ececec;
}

.showContainer {
    background-color: #ececec;
    margin-bottom: 20px;
    border-radius: 5px;
}
.label {
   background-color:#000000;
}

.py-5{
    height: 100px;
    background-color:#6e6e6e;
}

.footerContainer{
    height: 100px;
}